:root{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*---------------------------->principal elements<-----------------------*/


html {

    min-width: 600px;
    display: flex;
    margin: 0%;
    background-color: rgb(104, 70, 70);
    box-shadow: inset 0 0 5rem 1.5rem black;
    min-height: 100%;
    padding-bottom: 10rem;

}
body{

    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0;
    height:inherit;
    width: 100%;

}

#aDiv {/* the box which holds the actual results or error messages*/
    padding-top: 5rem;
    display: flex;
    flex-wrap:wrap;
    width: 70%;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.imgResult {
    display: flex;
    flex: 1 0 19%;
    margin: 5px;
    flex-grow: initial;

}
.imgResult:hover {

    -webkit-transform: scale(1.03);
    -webkit-transition-duration: 0.5s;
    -webkit-transition:ease-in-out;
}

@keyframes bounce {/*arguments concerning bounce*/

    from {
        height: 80%;
    }
    
    to {
        height: 40%;
    }
    
}


/*------------------->elements in and around searchBox area<------------------------*/


#searchBiArea {/*Box surounding searchArea*/

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.6);
    max-width: 1200px;
    min-width: 600px;
    padding: 4rem;
    height: 40%;
    width: 80%;

}
#jumper {/*Box surounding searchArea*/

    display: flex;
    margin: 0;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;

}

#jumpUp {/* this is the id whitch the app changes to inorder to trigger JUMP animation */
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation: bounce 0.5s;
}


.searchBox{/*box surounding searchbar and button*/

    display:flex;
    border-width: 2px;
    border-color: black;
    padding: 6px;
    background-color: white;
    text-align: start;
    font-size: 2rem;
    align-items: center;
    

}

#textArea {

    display:flex;
    border: none;
    margin-left: 0;
    margin-right: auto;
    text-align: start;
    font-size: 2rem;
    min-width: 80%;

}

#textArea:focus{/*Removing focus outline*/

    outline: none;
}

#textArea:active{/*Removing active outline*/

    outline: none;
}

.searchBox > .material-icons{
    /*search button 
    material-icons is a google font library, a cind of emojis
    and is used by the class name material-icons*/

padding: 1rem;
width: 4rem;
display: flex;
justify-content: center;
cursor: pointer;
text-decoration: none;
border-style: none;
color:brown;
background-color: rgb(39, 43, 44);
font-size: 2rem;
text-align: center;

}

#curtainsArea {/* area containing the two dropdowns "cortains"*/

display:flex;
justify-content:space-between;
align-items: stretch;
margin-top: 0.5rem;
border-width: 2rem;
font-size: 2rem;
width: 100%;

}

.curtainsBiarea {

display:flex;
padding: 6px;
border-color: white;
border-width: 6px;
margin: 0.5rem;
background-color: rgb(255, 255, 255);
text-align: start;
font-size: 2rem;
width: 40%;

}
.curtin{
width: 100%;
border: none;
}

.curtin:active{/* Same here removing the boarder which is wisible when clicked*/
    width: 100%;
    border: none;
    }


/*----------------------->LightBox elements<-----------------------------------*/
    

#theModal{/*lightBox*/
    z-index: 1;
    display: none;
    position:fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem 30rem rgba(0, 0, 0, 0.5);
    justify-content: center;

}
#insideModal {/*lightBox content*/
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}

/*----------------------->Page Utility elements<-----------------------------------*/


#pageUtilArea {/*box containing page result info and page switch buttons*/
    
    display: none;
    margin: 0%;
    justify-content:space-around;
    align-items: center;
    width: 150px;
    bottom: 10%;
    right: 3%;
    position: fixed;
    padding: 0px;
    color: rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);    
    flex-wrap:wrap;
    

}

#pageUtil {/*box containing page result info*/
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}

#pageUtilArea > .material-icons{/*box containing switch page buttons*/

    padding: 1rem;
    width: 4rem;
    display: none;
    justify-content: center;
    /* margin: auto; */
    cursor: pointer;
    text-decoration: none;
    border-style: none;
    color: rgba(0, 0, 0, 0.2);   
    background: rgba(0, 0, 0, 0.1);    
    font-size: 2rem;
    text-align: center;


}

@media only screen and (max-width: 900px){
    
    html {

        min-width: 300px;
        display: flex;
        margin: 0%;
        background-color: rgb(19, 28, 37);
        box-shadow: inset 0 0 5rem 1.5rem black;
        min-height: 100%;
        padding-bottom: 2rem;
    
    }
    body{

        display: flex;
        flex-direction:column;
        align-items: center;
        margin: 0;
        height:inherit;
        width: 100%;
    
    }
    
    #aDiv {/* the box which holds the actual results or error messages*/
        padding-top: 0;
        display: flex;
        flex-wrap:wrap;
        width: 100%;
        max-width: 900px;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
    }

    /*------------------->elements in and around searchBox area<------------------------*/


    #searchBiArea {/*Box surounding searchArea*/

        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color:rgba(0, 0, 0, 0.6);
        max-width: 1200px;
        min-width: 300px;
        padding: 4rem 0.5rem 4rem 0.5rem;
        height: 40%;
        width: 100%;

    }
    .searchBox{/*box surounding searchbar and button*/

        display:flex;
        border-color: black;
        padding: 0px;
        background-color: white;
        text-align: start;
        font-size: 2rem;
        align-items: center;
        

    }

    #textArea {

        display:flex;
        border: none;
        margin-left: 0;
        margin-right: auto;
        text-align: start;
        font-size: 2rem;
        min-width: 80%;

    }
    #jumper {/*Box surounding searchArea*/

        display: flex;
        margin: 0;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;

    }

    #jumpUp {/* this is the id whitch the app changes to inorder to trigger JUMP animation */
        display: flex;
        margin: 0;

        width: 100%;
        justify-content: center;
        align-items: center;
        animation: bounce 0.5s;
    }

    .imgResult {
        display: flex;    
        flex: 1 0 32%;
        width: 100%;
        margin: 2px;

    }
    h1{
        color: antiquewhite;
        padding: 0.5rem;
    }

    
    #pageUtilArea > .material-icons{/*box containing switch page buttons*/
    

        color: rgba(0, 0, 0, 0.4);   
        background: rgba(0, 0, 0, 0.2);    

    
    
    }
    #insideModal {

    }
}

