html {

    min-width: 600px;
    display: flex;
    margin: 0%;
    background-color: rgb(104, 70, 70);
    box-shadow: inset 0 0 5rem 1.5rem black;
    min-height: 100%;
    padding-bottom: 10rem;

}
body{

    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0;
    height:inherit;
    width: 100%;

}
#jumper {

    display: flex;
    margin: 0;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;

}
#searchBiArea {

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.6);
    max-width: 1200px;
    min-width: 600px;
    padding: 4rem;
    height: 40%;
    width: 80%;

}

.searchBox{

    display:flex;
    border-width: 2px;
    border-color: black;
    padding: 6px;
    background-color: white;
    text-align: start;
    font-size: 2rem;
    align-items: center;
    

}

#textArea {

    display:flex;
    border: none;
    margin-left: 0;
    margin-right: auto;
    text-align: start;
    font-size: 2rem;
    min-width: 80%;

}

#textArea:focus{

    outline: none;
}

#textArea:active{

    outline: none;
}

.material-icons{

padding: 1rem;
width: 4rem;
display: flex;
justify-content: center;
//margin: auto;
cursor: pointer;
text-decoration: none;
border-style: none;
color:brown;
background-color: rgb(39, 43, 44);
font-size: 2rem;
text-align: center;

}

#curtainsArea {

display:flex;
justify-content:space-between;
align-items: stretch;
margin-top: 0.5rem;
border-width: 2rem;
font-size: 2rem;
width: 100%;

}

.curtainsBiarea {

display:flex;
padding: 6px;
border-color: white;
border-width: 6px;
margin: 0.5rem;
background-color: rgb(255, 255, 255);
text-align: start;
font-size: 2rem;
width: 40%;

}

.curtin{
width: 100%;
border: none;
}
.curtin:active{
    width: 100%;
    border: none;
    }
#aDiv {
    padding-top: 5rem;
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 80%;
}
img {
    display: flex;
    flex: 1 0 19%;
    margin: 5px;
    flex-grow: initial;

}

#jumpUp {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation: bounce 0.5s;
}

@keyframes bounce {

    from {
        height: 80%;
    }
    
    to {
        height: 40%;
    }
    
}

#theModal{
    z-index: 1;
    display: none;
    position:fixed;
    width: 600px;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem 30rem rgba(0, 0, 0, 0.5);

}
#insideModal {
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

}


